.projects-title {
  position: absolute;
  left: 20%;
  top: 10%;
  z-index: 15;
  width: 60vw;
}

.work-pic {
  justify-self: center;
  max-width: 30%;
  height: auto;
  background-color: rgba(0, 0, 0, 0.582);
}

.pic-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 13px 0px;
  align-items: center;
  grid-template-areas: '. . .' '. . .';
  /* width: 80%; */
}

.pic-container2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 13px 0px;
  align-items: center;
  /* width: 80%; */
}

h3.web-design {
  font-size: 2.5rem !important;
}

h3.mobile-ordering {
  font-size: 2.5rem !important;
  margin-top: 10%;
}

/* first picture */

.pic-div1 {
  background: linear-gradient(
      to right,
      hsla(0, 0%, 0%, 0%),
      hsla(0, 0%, 0%, 0%)
    ),
    url('/projects/stellarledgers.png');
  background-size: cover;
  height: 13rem;
  width: 95%;
}

.pic-div1:hover {
  background: linear-gradient(
      to right,
      hsla(0, 0%, 0%, 0.78),
      hsla(0, 0%, 0%, 0.75)
    ),
    url('/projects/stellarledgers.png');
  background-size: cover;
  transition: all 1s ease;
}

.pic-div1:hover .text {
  opacity: 1;
}

/* second picture */
.pic-div2 {
  background: linear-gradient(
      to right,
      hsla(0, 0%, 0%, 0%),
      hsla(0, 0%, 0%, 0%)
    ),
    url('/projects/lookout.png');
  background-size: cover;
  height: 13rem;
  width: 95%;
}

.pic-div2:hover {
  background: linear-gradient(
      to right,
      hsla(0, 0%, 0%, 0.78),
      hsla(0, 0%, 0%, 0.75)
    ),
    url('/projects/lookout.png');
  background-size: cover;
  transition: all 1s ease;
}

.pic-div2:hover .text {
  opacity: 1;
}

.text {
  margin-top: 20%;
  opacity: 0;
}

/* third picture */
.pic-div3 {
  background: linear-gradient(
      to right,
      hsla(0, 0%, 0%, 0%),
      hsla(0, 0%, 0%, 0%)
    ),
    url('/projects/yellowdoor.png');
  background-size: cover;
  height: 13rem;
  width: 95%;
}

.pic-div3:hover {
  background: linear-gradient(
      to right,
      hsla(0, 0%, 0%, 0.78),
      hsla(0, 0%, 0%, 0.75)
    ),
    url('/projects/yellowdoor.png');
  background-size: cover;
  transition: all 1s ease;
}

.pic-div3:hover .text {
  opacity: 1;
}

.text {
  margin-top: 20%;
  opacity: 0;
}

/* fourth picture */
.pic-div4 {
  background: linear-gradient(
      to right,
      hsla(0, 0%, 0%, 0%),
      hsla(0, 0%, 0%, 0%)
    ),
    url('/projects/mediakeys.png');
  background-size: cover;
  height: 13rem;
  width: 95%;
}

.pic-div4:hover {
  background: linear-gradient(
      to right,
      hsla(0, 0%, 0%, 0.78),
      hsla(0, 0%, 0%, 0.75)
    ),
    url('/projects/mediakeys.png');
  background-size: cover;
  transition: all 1s ease;
}

.pic-div4:hover .text {
  opacity: 1;
}

.text {
  margin-top: 20%;
  opacity: 0;
}

/* fifth picture */
.pic-div5 {
  background: linear-gradient(
      to right,
      hsla(0, 0%, 0%, 0%),
      hsla(0, 0%, 0%, 0%)
    ),
    url('/projects/gmtb.png');
  background-size: cover;
  height: 13rem;
  width: 95%;
}

.pic-div5:hover {
  background: linear-gradient(
      to right,
      hsla(0, 0%, 0%, 0.78),
      hsla(0, 0%, 0%, 0.75)
    ),
    url('/projects/gmtb.png');
  background-size: cover;
  transition: all 1s ease;
}

.pic-div5:hover .text {
  opacity: 1;
}

.text {
  margin-top: 20%;
  opacity: 0;
}

/* sixth picture */
.pic-div6 {
  background: linear-gradient(
      to right,
      hsla(0, 0%, 0%, 0%),
      hsla(0, 0%, 0%, 0%)
    ),
    url('/projects/snrcreative.png');
  background-size: cover;
  height: 13rem;
  width: 95%;
}

.pic-div6:hover {
  background: linear-gradient(
      to right,
      hsla(0, 0%, 0%, 0.78),
      hsla(0, 0%, 0%, 0.75)
    ),
    url('/projects/snrcreative.png');
  background-size: cover;
  transition: all 1s ease;
}

.pic-div6:hover .text {
  opacity: 1;
}

.text {
  margin-top: 20%;
  opacity: 0;
}

/* seventh picture */
.pic-div7 {
  background: linear-gradient(
      to right,
      hsla(0, 0%, 0%, 0%),
      hsla(0, 0%, 0%, 0%)
    ),
    url('/projects/old.png');
  background-size: cover;
  height: 13rem;
  width: 95%;
}

.pic-div7:hover {
  background: linear-gradient(
      to right,
      hsla(0, 0%, 0%, 0.78),
      hsla(0, 0%, 0%, 0.75)
    ),
    url('/projects/old.png');
  background-size: cover;
  transition: all 1s ease;
}

.pic-div7:hover .text {
  opacity: 1;
}

.text {
  margin-top: 20%;
  opacity: 0;
}

/* eighth picture */
.pic-div8 {
  background: linear-gradient(
      to right,
      hsla(0, 0%, 0%, 0%),
      hsla(0, 0%, 0%, 0%)
    ),
    url('/projects/new.png');
  background-size: cover;
  height: 13rem;
  width: 95%;
}

.pic-div8:hover {
  background: linear-gradient(
      to right,
      hsla(0, 0%, 0%, 0.78),
      hsla(0, 0%, 0%, 0.75)
    ),
    url('/projects/new.png');
  background-size: cover;
  transition: all 1s ease;
}

.pic-div8:hover .text {
  opacity: 1;
}

.text {
  margin-top: 20%;
  opacity: 0;
}

.text-div {
  position: absolute;
  z-index: 999;
  opacity: 0;
  width: 94%;
  height: 8.2rem;
  background-color: rgba(255, 255, 255, 0);
  transition: all 1s ease;
}

.text-div:hover {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.637);
  transition: all 1s ease;
}

p.work-description {
  font-size: 1.2rem;
}

#stellar {
  transition: all 0.5s ease;
}

#stellar:hover {
  filter: brightness(40%);
  transition: all 0.5s ease;
}

@media (max-width: 1366px) {
  .pic-container > * {
    height: 11rem;
  }
  .pic-div7,
  .pic-div8 {
    height: 11rem;
  }
}
