.contact-form {
  position: relative;
}

.card {
  left: 50%;
  top: 50%;
  transform: translate(-45%, 30%);
  z-index: 99;
  width: 60%;
  border-radius: 5px;
  background-color: #101010 !important;
}

label {
  color: white;
}

.btn {
  background-color: #b1000b !important;
  color: white !important;
}

.card-title {
  padding-bottom: 5%;
}

.card-img-top {
  height: 75%;
}

.form-control {
  background-color: #101010 !important;
  border: 1px solid #565656 !important;
}

@media (max-width: 415px) and (max-height: 896px) {
  .card {
    transform: translate(-50%, 30%);
    z-index: 9;
    width: 95%;
  }
}
