.about {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-55%, 30%);
  z-index: 10;
}

.about-contaner {
  position: relative;
}

.o-div {
  color: #7f7f7f;
  font-family: 'La Belle Aurore', cursive;
  font-style: italic;
  transform: translate(18%, 100%);
  font-size: 18px;
  overflow: hidden !important;
}

.c-div {
  color: #7f7f7f;
  font-family: 'La Belle Aurore', cursive;
  font-style: italic;
  font-size: 18px;
  position: absolute;
  bottom: 5%;
  right: 79%;
  overflow: hidden;
}

.title {
  color: #7f7f7f;
  font-family: 'La Belle Aurore', cursive;
  font-style: italic;
  transform: translate(-5%, 0%);
  font-size: 18px;
}

.h1-img {
  position: absolute;
  left: 35%;
  top: 10%;
}

.github-link {
  cursor: pointer;
  padding-top: 1rem;
  padding-bottom: 0.6rem;
  margin: 2% 0%;
}

.github-btn {
  bottom: 95%;
  transform: translate(0%, 20%);
}

.glitch {
  position: relative;
  color: white;
  font-size: 7em;
  /* letter-spacing: 0.1em; */
  /* Animation provies a slight random skew. Check bottom of doc
    for more information on how to random skew. */
  animation: glitch-skew 1s infinite linear alternate-reverse;
}
.glitch::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  left: 2px;
  text-shadow: -2px 0 #ff00c1;
  /* Creates an initial clip for our glitch. This works in
    a typical top,right,bottom,left fashion and creates a mask
    to only show a certain part of the glitch at a time. */
  clip: rect(44px, 450px, 56px, 0);
  /* Runs our glitch-anim defined below to run in a 5s loop, infinitely,
    with an alternating animation to keep things fresh. */
  animation: glitch-anim 5s infinite linear alternate-reverse;
}
.glitch::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  left: -2px;
  text-shadow: -2px 0 #00fff9, 2px 2px #ff00c1;
  animation: glitch-anim2 1s infinite linear alternate-reverse;
}

a.gitbtn {
  border: solid 1px#bd0000;
  background-color: #ffffff00;
  color: #bd0000 !important;
  padding: 2%;
  margin-right: 5%;
  transition: all 1s;
}

a.gitbtn:hover {
  color: white !important;
  text-decoration: none !important;
  background-color: #b10000;
  /* border: none; */
  transition: border 0px 1s ease;
}

a.gitbtn:active {
  transform: translateY(-1px);
}

.github-link > a:hover {
  transform: translateY(-3px) !important;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.avatar {
  position: absolute;
  left: 70%;
  top: 25%;
}

.avatar-img {
  width: 80%;
}

/* .about-grid {
  background: #000000;
  background-image: linear-gradient(
      to right,
      hsla(0, 0%, 0%, 0.658),
      hsla(0, 0%, 0%, 0.61)
    ),
    url('/pic2.jpg');
  height: 100vh;
  display: grid;
  grid-template-columns: 0.7fr 1.6fr 0.7fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 1px 1px;
  grid-template-areas: 'o-div . e-div1' 't-div title-div e-div2' 'n-div name-div e-div3' 'c-div career-div e-div4' 'g-div github-div e-div5' 'e-div . e-div6';
}

.o-div {
  grid-area: o-div;
}

.t-div {
  grid-area: t-div;
}

.n-div {
  grid-area: n-div;
}

.c-div {
  grid-area: c-div;
}

.g-div {
  grid-area: g-div;
}

.e-div {
  grid-area: e-div;
}

.title-div {
  grid-area: title-div;
}

.name-div {
  grid-area: name-div;
}

.career-div {
  grid-area: career-div;
}

.github-div {
  grid-area: github-div;
}

.e-div1 {
  grid-area: e-div1;
}

.e-div2 {
  grid-area: e-div2;
}

.e-div3 {
  grid-area: e-div3;
}

.e-div4 {
  grid-area: e-div4;
}

.e-div5 {
  grid-area: e-div5;
}

.e-div6 {
  grid-area: e-div6;
} */

/* Creates an animation with 20 steaps. For each step, it calculates 
  a percentage for the specific step. It then generates a random clip
  box to be used for the random glitch effect. Also adds a very subtle
  skew to change the 'thickness' of the glitch.*/
/* 
 */

/* .title {
  -webkit-animation: mover 0.5s infinite alternate;
  animation: mover 0.5s infinite alternate;
}
@-webkit-keyframes mover {
  0% {
    transform: translate(-10%, 5px);
  }
  100% {
    transform: translate(-10%, -5px);
  }
}
@keyframes mover {
  0% {
    transform: translate(-10%, 5px);
  }
  100% {
    transform: translate(-10%, -5px);
  }
}
.o-div {
  -webkit-animation: mover2 0.5s infinite alternate;
  animation: mover2 0.5s infinite alternate;
}
@-webkit-keyframes mover2 {
  0% {
    transform: translate(26%, 85%);
  }
  100% {
    transform: translate(26%, 140%);
  }
}
@keyframes mover2 {
  0% {
    transform: translate(26%, 85%);
  }

  100% {
    transform: translate(26%, 140%);
  }
}
.c-div {
  -webkit-animation: mover3 0.5s infinite alternate;
  animation: mover3 0.5s infinite alternate;
}
@-webkit-keyframes mover3 {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}
@keyframes mover3 {
  0% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(-10px);
  }
} */
